@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper */

.swiper {
  @apply h-full w-full;
}

.swiper-us > .swiper-wrapper {
  @apply lg:flex lg:items-start;
}

.swiper-button-next,
.swiper-button-prev {
  height: 1.6rem !important;
  width: 2.5rem !important;

  @apply lg:h-8 lg:w-16 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply h-full w-full bg-contain bg-no-repeat lg:hidden;
  font-size: 0px !important;
  background-image: url("../../public/images/flecha.png");
}

.swiper-button-next::after {
  @apply rotate-90;
}
.swiper-button-prev::after {
  @apply -rotate-90;
}

/* Glitch */

.wordGlitch {
  @apply relative inline-block;
  animation: word-glitch 5s steps(1, end) 0s;
}

.wordGlitch::before,
.wordGlitch::after {
  content: attr(data-text);
  @apply pointer-events-none absolute top-0 left-0;
}

.wordGlitch::before {
  @apply opacity-0;
  animation: word-glitch-top 6s steps(1, end) 0s;
}

.wordGlitch::after {
  @apply opacity-0;
  animation: word-glitch-bottom 6s steps(1, end) 0s;
}

/* Word glitch */

@keyframes word-glitch {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
  }
  2% {
    opacity: 1;
    clip-path: inset(0 40% 0 0);
    transform: skewX(30deg);
  }
  3% {
    clip-path: inset(0 0 0 0);
    opacity: 0;
  }
  4% {
    opacity: 1;
    transform: skewX(0deg);
  }
  5%,
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes word-glitch-top {
  0% {
    top: -6px;
    left: 10px;
    clip-path: inset(0 0 60% 0);
    opacity: 1;
  }
  1% {
    top: -6px;
    left: 4px;
  }
  2% {
    top: -4px;
    left: -4px;
  }
  3% {
    top: -6px;
    left: 4px;
  }
  4%,
  100% {
    top: 0;
    left: 0;
    opacity: 0;
  }
}

@keyframes word-glitch-bottom {
  0% {
    right: 10px;
    clip-path: inset(70% 0 0 0);
    opacity: 1;
  }
  1% {
    left: 4px;
    bottom: -4px;
    clip-path: inset(50% 0 0 0);
  }
  2% {
    left: 6px;
    bottom: -3px;
    clip-path: inset(70% 0 0 0);
  }
  3% {
    right: 6px;
    bottom: -3px;
  }
  4%,
  100% {
    top: 0;
    left: 0;
    opacity: 0;
  }
}

/*Autcomplete color*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #222222 inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
}
